.settings-data {
    padding: 3vw 5vw;
    text-align: center;
    background-color: #111111;
    border: 2px solid #f95700;
    width: 45vw;
    height: 35vw;
    margin: 3vw auto;
    border-radius: 30px;
    box-shadow:  14px 14px 22px #d5d5d5,
             -14px -14px 22px #ebebeb;
    color: #f95700;
}

.settings-data-header {
    font-size: 3vw;
}

.set {
    color: #f95700;
    margin-top: 5vw;
    font-size: 3vh;
}
.set p {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.set-st {
    width: 45vw;
    background-color: rgba(224, 224, 224, 0.6);
}